
#poste_travail_window {
    width: 640px;
    height: 320px;
}

.desktop-container {
    overflow: hidden;
    width: 640px;
}

.desktop-inner {
    overflow: hidden;
    width: 640px;
}

.desktop-child {
    float: left;
    width: 150px;
    height: 50px;
}

.desktop-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-textarea {
    width: 100%;
    height: 230px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}


/* https://stackoverflow.com/a/23611705/7269722 */
.divButton {
    padding:2px 10px; border:solid #707070 1px; border-radius:2px;
    background-image: -webkit-gradient(linear,left top, left bottom, color-stop(0, #F2F2F2), color-stop(1, #CFCFCF));
    background-image: -o-linear-gradient(bottom, #F2F2F2 0%, #CFCFCF 100%);
    background-image: -moz-linear-gradient(bottom, #F2F2F2 0%, #CFCFCF 100%);
    background-image: -webkit-linear-gradient(bottom, #F2F2F2 0%, #CFCFCF 100%);
    background-image: -ms-linear-gradient(bottom, #F2F2F2 0%, #CFCFCF 100%);
    background-image: linear-gradient(to bottom, #F2F2F2 0%, #CFCFCF 100%);
    cursor:default;
    text-align:center;
}
.divButton:hover{
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EAF6FD), color-stop(1, #A7D8F5));
    background-image: -o-linear-gradient(bottom, #EAF6FD 0%, #A7D8F5 100%);
    background-image: -moz-linear-gradient(bottom, #EAF6FD 0%, #A7D8F5 100%);
    background-image: -webkit-linear-gradient(bottom, #EAF6FD 0%, #A7D8F5 100%);
    background-image: -ms-linear-gradient(bottom, #EAF6FD 0%, #A7D8F5 100%);
    background-image: linear-gradient(to bottom, #EAF6FD 0%, #A7D8F5 100%);
    border: #3c7fb1 solid 1px;
}
.divButton:active{border:solid #2c628b 1px; padding:2px 9px 2px 11px;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #E5F4FC),color-stop(0.5, #C4E5F6), color-stop(0.51, #98D0EF), color-stop(1, #68B3DB));
    background-image: -o-linear-gradient(bottom, #E5F4FC 0%, #C4E5F6 50%, #98D0EF 51%, #68B3DB 100%);
    background-image: -moz-linear-gradient(bottom, #E5F4FC 0%, #C4E5F6 50%, #98D0EF 51%, #68B3DB 100%);
    background-image: -webkit-linear-gradient(bottom, #E5F4FC 0%, #C4E5F6 50%, #98D0EF 51%, #68B3DB 100%);
    background-image: -ms-linear-gradient(bottom, #E5F4FC 0%, #C4E5F6 50%, #98D0EF 51%, #68B3DB 100%);
    background-image: linear-gradient(to bottom, #E5F4FC 0%, #C4E5F6 50%, #98D0EF 51%, #68B3DB 100%);
}