.boite{
    width: 70%;
    height: 100%;
    margin: auto;
    border: 2px solid yellow;
    padding: 10px;
    border-radius: 50px;
}

.boiteClicked {
    background: #b2e0f9;
}

.bonneReponse {
    background: #b2e0f9;
}

.mauvaiseReponse{
    background: #f8cde2;
    text-decoration:line-through;
}

body{
    /* background-color: red; */
    background-image:url(https://78.media.tumblr.com/fd264b30656e341e3eb0cfd9d25914ff/tumblr_inline_ns13ofB3dR1rv95az_500.gif);
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size: 100% 100%;


}